<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prem</title>
</head>
 <body style="background: linear-gradient(to top right, #ccff33 0%, #ff99ff 100%);">
<h1>
    Welcome to text analyzer. Enter your text below
</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="uppercase"> UPPERCASE<br>
    <input type="checkbox" name="newlineremove"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Remove extra space<br>
    <input type="checkbox" name="charcount"> Total number of characters<br>
    <button type='submit'> Analyze Text</button>
</form>
</body>
</html>